@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    --font-size-heading: 17px;
    --font-size-normal: 15px;
    --font-size-small: 11px;

    --font-weigth-normal: 400;
    --font-weight-bold: 700;

}

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

main {
    background-color: var(--light-gray);
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    width: fit-content;
    border-radius: 15px;
    margin-block: 24px;
}

h1 {
    padding: 0;
    margin-top: 32px;
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
    text-align: center;
    color: var(--dark-blue);
}

p {
    padding: 0;
    margin: 24px 32px;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    text-align: center;
    color: var(--grayish-blue);
}

.qr-code {
    --margin: 16px;
    display: block;
    width: calc(100% - 2 * var(--margin));
    aspect-ratio: 1;
    margin: var(--margin);
    border-radius: 12px;
}

.attribution {
    font-size: var(--font-size-small);
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
    main {
        margin: 0;
    }
}